<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <!-- Contenedor general -->
        <div style="display:flex; justify-content:center; text-align:center; gap:8px;">
            <!-- Columna 1 -->
            <div style="flex:1;">
                <div>{{localize "rmss.weapon.attack_table"}}</div>
                <select name="system.attack_table" class="app-stat-selector" value="{{system.attack_table}}" itemid="{{ item._id }}">
                    {{#each armsTables as |key|}}
                    <option value="{{key}}" {{#if (eq key ../system.attack_table)}}selected{{/if}}>
                    {{localize (concat "rmss.attack_table." key)}}
                    </option>
                    {{/each}}
                </select>
            </div>

            <!-- Columna 2 -->
            <div style="flex:1;">
                <div>{{localize "rmss.weapon.skill"}}</div>
                <select name="system.offensive_skill" class="app-stat-selector" value="{{system.offensive_skill}}" itemid="{{ item._id }}">
                    {{#each offensiveSkills}}
                    <option value="{{this.id}}" {{#if (eq this.id ../system.offensive_skill)}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>

            <!-- Columna 3 -->
            <div style="flex:1;">
                <div>{{localize "rmss.weapon.default_critical"}}</div>
                <select name="system.critical_type" class="app-stat-selector" value="{{system.critical_type}}" itemid="{{ item._id }}">
                    {{#each criticalTables as |key|}}
                    <option value="{{key}}" {{#if (eq key ../system.critical_type)}}selected{{/if}}>
                    {{localize (concat "rmss.critical_table." key)}}
                    </option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div>
            <table>
                <tr>
                    <th>{{localize "rmss.weapon.equipped"}}</th>
                    <th>{{localize "rmss.item.quantity"}}</th>
                    <th>{{localize "rmss.weapon.cost"}}</th>
                    <th>{{localize "rmss.weapon.type"}}</th>
                    <th>{{localize "rmss.weapon.prod_time"}}</th>
                    <th>{{localize "rmss.weapon.weight"}}</th>
                    <th>{{localize "rmss.weapon.breakage_range"}}</th>
                    <th>{{localize "rmss.weapon.strength"}}</th>
                    <th>{{localize "rmss.weapon.fumble_range"}}</th>

                </tr>
                <td>
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
                </td>
                <td>
                    <input name="system.quantity" type="text" value="{{system.quantity}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{system.cost}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.type" type="text" value="{{system.type}}" data-dtype="String"/>
                </td>                
                <td>
                    <input name="system.prod_time" type="text" value="{{system.prod_time}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="system.breakage_range" type="text" value="{{system.breakage_range}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.strength" type="text" value="{{system.strength}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.fumble_range" type="text" value="{{system.fumble_range}}" data-dtype="String"/>
                </td>

            </table>
                {{localize "rmss.item.description"}}
                {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>
