<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <div>
            <table>
                <tr>
                    <th>{{localize "rmss.item.equipped"}}</th>
                    <th>{{localize "rmss.armor.weight"}}</th>
                    <th>{{localize "rmss.armor.cost"}}</th>
                    <th>{{localize "rmss.item.currency"}}</th>
                    <th>{{localize "rmss.armor.prod_time"}}</th>
                    <th>{{localize "rmss.armor.at"}}</th>
                </tr>
                <td>
                    <input type="checkbox" name="system.equipped" {{checked system.equipped}}/>
                </td>
                <td>
                    <input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="system.unitCost" type="number" value="{{system.unitCost}}" data-dtype="Number" step="0.01" />
                </td>
                <td>
                    <select name="system.currency_type">
                        {{#each config.currency_type_abb as |label key|}}
                        <option value="{{key}}" {{#if (eq ../system.currency_type key)}}selected{{/if}}>
                        {{localize label}}
                        </option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <input name="system.prod_time" type="text" value="{{system.prod_time}}" data-dtype="String"/>
                </td>
                <td>
                    <input name="system.at" type="text" value="{{system.at}}" data-dtype="Number"/>
                </td>
            </table>
                {{localize "rmss.item.description"}}
                {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
            {{#if user.isGM}}
            <h2>{{localize "rmss.item.secret_info"}}</h2>

            {{editor secretDescription
            target="system.description_secret"
            button=true
            owner=owner
            editable=true}}
            {{/if}}
        </div>
    </div>
</form>
