<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content" id="profession-sheet">
        <div class="skillcat-grid-heading">
            <div class="settings-button">
                <button type="button" class="import-skillcats" title="Import" actor_id="{{item.id}}">{{ localize "rmss.pc_sheet.import_skillcat" }}</button>
            </div>
        </div>
        <div class="container">
            <div class="">Skill category</div>
            <div class="">Progression</div>
        </div>
        {{#each item.system.skills_category as |skills|}}
        <div id="skill-category-name" data-id="{{skills._id}}">{{skills.name}}</div>
        <div>{{skills.progression}}</div>
        {{/each}}
    </div>
</form>