<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <!-- Header Section-->

  <header class="sheet-header">

    <div class="container">

      <!-- Actor Icon Section-->
      <div>
        <div class="actor-icon">
          <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
        </div>
      </div>

      <!-- Resource Boxes Section-->

      <div class="header-container">
        <div class="resource-entry">
          <div class="header-text flexrow">
            <label for="system.attributes.hits.current">
          {{ localize "rmss.player_character.resources.hits" }}
            </label>
          </div>
          <div class="resource-values">
            <input name="system.attributes.hits.current"
                   id="system.attributes.hits.current"
                   type="number"
                   value="{{system.attributes.hits.current}}" />/<input name="system.attributes.hits.max"
                   type="number" value="{{system.attributes.hits.max}}" />
          </div>
        </div>
        <div class="resource-entry">
          <div class="header-text flexrow">
            <label for="rmss.player_character.resources.power_points">
          {{ localize "rmss.player_character.resources.power_points" }}
            </label>
          </div>
          <div class="resource-values">
            <div id="rmss.player_character.resources.power_points" class="pp-values"><input name="system.attributes.power_points.current" type="Number"
                value="{{system.attributes.power_points.current}}" />/<input name="system.attributes.power_points.max"
                type="Number" value="{{system.attributes.power_points.max}}" /></div>
          </div>
        </div>
      </div>

      <!-- Name, XP and Level Section-->

      <div class="header-container">
        <!-- Fate Points row -->
        {{#if fateIcons.length}}
        <div class="header-text flexrow fate-points-row">
          <label>{{ localize "rmss.pc_sheet_fixed_info.fate_points" }}</label>
          <div class="fate-icons">
            {{#each fateIcons as |index|}}
            {{#unless (lt ../system.attributes.fate_points.value index)}}
            <i class="fa-solid fa-skull" data-index="{{index}}"></i>
            {{else}}
            <i class="fa-regular fa-skull" data-index="{{index}}"></i>
            {{/unless}}
            {{/each}}
          </div>
        </div>
        {{/if}}

        <!-- Movement Rate row -->
        <div class="header-text flexrow">
          <label for="movement-rate-value"><a class="item-roll"> {{ localize "rmss.pc_sheet_fixed_info.movement_rate" }}
            <i class="fa fa-refresh" aria-hidden="true"></i></a>
          </label>
          <input id="movement-rate-value" name="system.attributes.movement_rate.value" data-dtype="Number" type="text"
                 value="{{system.attributes.movement_rate.value}}" />/
          <input id="movement-rate-current"
                 name="system.attributes.movement_rate.current"
                 data-dtype="Number"
                 type="text"
                 value="{{system.attributes.movement_rate.current}}"
                 />
        </div>

        <div class="header-text flexrow">
          <label for="development-points">{{ localize "rmss.experience.dps" }} </label>
          <input type="text" value="{{system.levelUp.developmentPoints}}" id="development-points" name="system.levelUp.developmentPoints" data-dtype="Number"/>
        </div>
      </div>

      <div class="header-container">
        <div class="header-text flexrow">
          <label for="character-name">{{ localize "rmss.player_character.name" }}</label>
          <input id="character-name" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize Name }}" />
        </div>

        <div class="header-text flexrow">
          <label for="level">{{ localize "rmss.player_character.level" }}</label>
          <input id="level" name="system.attributes.level.value" data-dtype="Number" type="text"
                 value="{{system.attributes.level.value}}" />
        </div>
        <div class="header-text flexrow">
          <label for="experience-points">{{ localize "rmss.player_character.experience" }}</label>
          <input id="experience-points" name="system.attributes.experience_points.value" data-dtype="Number" type="text"
                 value="{{system.attributes.experience_points.value}}" />
        </div>
        <div class="header-text flexrow">
          <div class="rmss-progress-thin">
            <div class="rmss-progress-bar" style="width: {{experienceProgress}}%;">
              <span class="rmss-progress-bar-text">{{experienceProgress}}%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Selector -->
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="Record"><i class="fa-regular fa-circle-user"></i> {{ localize "rmss.pc_sheet_tabs.record" }}</a>
    <a class="item" data-tab="SkillCategory"><i class="fa-regular fa-list"></i> {{ localize "rmss.pc_sheet_tabs.skill_categories" }}</a>
    <a class="item" data-tab="Skills"><i class="fa fa-cogs" aria-hidden="true"></i>
      {{ localize "rmss.pc_sheet_tabs.skills" }}</a>
    <a class="item" data-tab="Equipment"><i class="fa-solid fa-backpack"></i> {{ localize "rmss.pc_sheet_tabs.equipment" }}</a>
    <a class="item" data-tab="Spells"><i class="fa-solid fa-scroll"></i> {{ localize "rmss.pc_sheet_tabs.spells" }}</a>
    <a class="item" data-tab="StatusRecord"><i class="fa-solid fa-person-rays"></i>
      {{ localize "rmss.pc_sheet_tabs.status_record" }}</a>
    <a class="item" data-tab="ExperiencePoints"><i class="fa-solid fa-brain"></i>
      {{ localize "rmss.pc_sheet_tabs.experience_points" }}</a>
  </nav>
  <!-- Body Section-->
  <section class="sheet-body">
    <div class="tab record" data-group="primary" data-tab="Record">
      <div class="container">
        <div class="fixed-info-container">
          {{> "systems/rmss/templates/sheets/actors/parts/actor-fixed-info.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-armor-info.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-resistance.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-race-stat-fixed-info.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-role-traits.html" }}
          {{> "systems/rmss/templates/sheets/actors/parts/actor-background-info.html" }}
        </div>

        <div class="stat-container">
          {{> "systems/rmss/templates/sheets/actors/parts/actor-stats.html" }}

          <div class="favorite-container">
            <h2>Favorite Skills</h2>
            {{> "systems/rmss/templates/sheets/actors/parts/actor-fav-skills.html" }}
            <h2>Favorite Spells</h2>
            {{> "systems/rmss/templates/sheets/actors/parts/actor-fav-spells.html" }}
            <h2>Equipped Items</h2>
            {{> "systems/rmss/templates/sheets/actors/parts/actor-fav-items.html" }}
            <h2>Description</h2>
            {{editor enrichedDescription target="system.description" button=true owner=true editable=true}}
          </div>
        </div>


      </div>
    </div>

    <div class="tab skill_categories" data-group="primary" data-tab="SkillCategory">
      {{> "systems/rmss/templates/sheets/actors/parts/actor-skill-categories.html" }}
    </div>

    <div class="tab skills" data-group="primary" data-tab="Skills">
      <nav class="sub-tabs tabs" data-group="skills-tabs">
        <a class="item" data-tab="skills-skills"><i class="fa-regular fa-gear"></i> {{ localize "rmss.skills_tabs.skills" }}</a>
        <a class="item" data-tab="spells-skills"><i class="fad fa-scroll"></i> {{ localize "rmss.skills_tabs.spells" }}</a>
        <a class="item" data-tab="languages-skills"><i class="fa-solid fa-comments"></i>  {{ localize "rmss.skills_tabs.languages" }}</a>
      </nav>
      {{> "systems/rmss/templates/sheets/actors/parts/search-text.hbs"
      id="mod-search-form-actor-skills"
      targetSelector=".skills-grid-container > [data-search]"
      targetDataAttribute="search"
      debounce="50"
      placeholder="Search skill..."
      }}
      <section class="sub-tab-content">
        <div class="tab" data-group="skills-tabs" data-tab="skills-skills">
          {{> "systems/rmss/templates/sheets/actors/parts/actor-skill-list.hbs" skills=playerskill}}
        </div>
        <div class="tab" data-group="skills-tabs" data-tab="spells-skills">
          {{> "systems/rmss/templates/sheets/actors/parts/actor-skill-list.hbs" skills=spellskill}}
        </div>
        <div class="tab" data-group="skills-tabs" data-tab="languages-skills">
          {{> "systems/rmss/templates/sheets/actors/parts/actor-skill-list.hbs" skills=languageskill}}
        </div>
      </section>
    </div>

    <div class="tab equipment" data-group="primary" data-tab="Equipment">
      <nav class="sub-tabs tabs" data-group="equipment-tabs">
        <a class="item" data-tab="equipment-weapons"><i class="fa-solid fa-sword"></i> {{ localize "rmss.pc_sheet_tabs.weapons" }}</a>
        <a class="item" data-tab="equipment-items"><i class="fa-solid fa-box"></i> {{ localize "rmss.pc_sheet_tabs.items" }}</a>
        <a class="item" data-tab="equipment-armor"><i class="fa-solid fa-shield"></i> {{ localize "rmss.pc_sheet_tabs.armor" }}</a>
        <a class="item" data-tab="equipment-herbs"><i class="fa-solid fa-flask"></i> {{ localize "rmss.pc_sheet_tabs.herbs" }}</a>
        <a class="item" data-tab="equipment-transports"><i class="fa-solid fa-horse"></i> {{ localize "rmss.pc_sheet_tabs.transports" }}</a>
        <a class="item" data-tab="equipment-wealth"><i class="fa-solid fa-coins"></i> {{ localize "rmss.pc_sheet_tabs.wealth" }}</a>
      </nav>
      <section class="sub-tab-content">
        <div class="tab" data-group="equipment-tabs" data-tab="equipment-weapons">
          <div class="equipment-container">
            {{> "systems/rmss/templates/sheets/actors/parts/actor-weapons.html" }}
          </div>
        </div>
        <div class="tab" data-group="equipment-tabs" data-tab="equipment-items">
          <div class="equipment-container">
            {{> "systems/rmss/templates/sheets/actors/parts/actor-items.html" }}
          </div>
        </div>
        <div class="tab" data-group="equipment-tabs" data-tab="equipment-armor">
          <div class="equipment-container">
            {{> "systems/rmss/templates/sheets/actors/parts/actor-armor.html" }}
          </div>
        </div>
        <div class="tab" data-group="equipment-tabs" data-tab="equipment-herbs">
          <div class="equipment-container">
            {{> "systems/rmss/templates/sheets/actors/parts/actor-herbs.html" }}
          </div>
        </div>
        <div class="tab" data-group="equipment-tabs" data-tab="equipment-transports">
          <div class="equipment-container">
            {{> "systems/rmss/templates/sheets/actors/parts/actor-transport.html" }}
          </div>
        </div>
        <div class="tab" data-group="equipment-tabs" data-tab="equipment-wealth">
          <div class="money-container">
            {{> "systems/rmss/templates/sheets/actors/parts/actor-money.html" }}
          </div>
        </div>
      </section>
    </div>
    <div class="tab spells" data-group="primary" data-tab="Spells">
      <div class="spell-container">
        {{> "systems/rmss/templates/sheets/actors/parts/actor-spells.html" }}
      </div>
    </div>
    <div class="tab status-record" data-group="primary" data-tab="StatusRecord">
      <div class="status-container">
        {{> "systems/rmss/templates/sheets/actors/parts/actor-status-info.html" }}
      </div>
    </div>
    <div class="tab experience-points" data-group="primary" data-tab="ExperiencePoints">
      <div class="status-container">
        {{> "systems/rmss/templates/sheets/actors/parts/actor-exp-points.html" }}
      </div>
    </div>
  </section>
</form>