<div class="critical-codes">
    <h2>Critical codes chart</h2>
    <div class="critical-procedure">
        <h3>Critical procedure</h3>
        <div>
            <input type="radio" id="normal" name="critical-procedure" value="-" checked />
            <label for="normal">Normal</label>
        </div>
        <div>
            <input type="radio" id="I" name="critical-procedure" value="I" />
            <label for="I">Decrease critical severity by one</label>
        </div>
        <div>
            <input type="radio" id="II" name="critical-procedure" value="II" />
            <label for="II">Decrease critical severity by two</label>
        </div>
    </div>
    <div class="critical-table">
        <h3>Critical table</h3>
        <div>
            <input type="radio" id="normal" name="critical-table" value="-" checked />
            <label for="normal">Normal</label>
        </div>
        <div>
            <input type="radio" id="la" name="critical-table" value="la" />
            <label for="la">Large creatures</label>
        </div>
        <div>
            <input type="radio" id="sl" name="critical-table" value="sl" />
            <label for="sl">Super large creatures</label>
        </div>
    </div>
    <div class="stun-bleeding">
        <h3>Stun & bleeding</h3>
        <div>
            <input type="radio" id="normal" name="stun-bleeding" value="-" checked />
            <label for="normal">Normal</label>
        </div>
        <div>
            <input type="radio" id="la" name="stun-bleeding" value="stun" />
            <label for="la">Ignore stun</label>
        </div>
        <div>
            <input type="radio" id="sl" name="stun-bleeding" value="bleeding" />
            <label for="sl">Ignore stun and bleeding</label>
        </div>
    </div>
</div>