<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content spell-list">
        <table>
            <thead>
            <tr>
                <th scope="col">Level</th>
                <th scope="col">Name</th>
                <th scope="col">Area</th>
                <th scope="col">Duration</th>
                <th scope="col">Range</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#each system.spells as |spell id|}}
            <tr class="spell" data-spell-id="{{spell._id}}">
                <td>
                    {{spell.system.level}}
                </td>
                <td>
                    {{spell.name}}
                </td>
                <td>
                    {{spell.system.area_of_effect}}
                </td>
                <td>
                    {{spell.system.duration}}
                </td>
                <td>
                    {{spell.system.range}}
                </td>
                <td>
                    {{spell.system.type}}
                </td>
                <td>
                    <a class="item-edit" title="Edit Spell" data-spell-id="{{spell._id}}"><i class="fas fa-edit"></i></a>
                    <a class="item-delete" title="Delete Spell" data-spell-id="{{spell._id}}"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</form>
